
body {
  padding-top: 72px;
  padding-bottom: 32px;
  background-image: url('images/main/background.png'); /* Replace 'images/background.png' with the correct path to your image file */
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
}
/* Define a CSS class for the button */
.btn-default {
  background-color: #E7481F;
  color: white; /* Set text color to contrast with the background */
  padding: 10px 10px; /* Adjust padding as needed */
  border: none; /* Remove button border */
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* Define hover effect for the button */
.btn-default:hover {
  background-color: #A13316;
}

.form-control { font-family: monospace; }

.form-control[disabled], .form-control[readonly] { cursor: auto; }

.dropdown-menu-two-column {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count:2;
  width: 360px;
  padding: 7px 0px;
}

.navbar-brand { color: #BB0 !important; }

.navbar-left li:first-child a { color: #F88; }
.navbar-left li:first-child a:hover { color: #F00; }
.center-links {
  text-align: center;
}


#background-image-container {
  position: absolute; /* Position the container absolutely */
  top: 0;
  left: 0;
  width: 100%; /* Make it cover the entire width of the viewport */
  height: 200px; /* Adjust the height as needed */
  background: url('images/main/title.png') center top no-repeat;
  background-size: cover; /* Cover the container with the background image */
  z-index: -1; /* Place it behind other content */
}
